{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" >
</head>
<body>

<div class="pass_test">
{% for test in pass_tests %}
    <h3>
        <a href="testing/{{test.test_id}}">пройти {{test.test_name}}</a><br>
    </h3>
{% endfor %}
</div>

<div class="not_pass_test">
{% for test in not_pass_tests %}
    <h3>
        <a href="testing/{{test.test_id}}">пройти {{test.test_name}}</a><br>
    </h3>
{% endfor %}
</div>


<div>
    <button class="logout">logout</button>
</div>


<!--<div class="pass_test">-->
<!--    {% for test in pass_tests %}-->
<!--    <h3>-->
<!--        <a href="testing/{{pass_tests.test_id}}">пройти {{pass_tests.test_name}}</a><br>-->
<!--    </h3>-->
<!--    {% endfor %}-->
<!--</div>-->
<!--<div class="not_pass_test">-->
<!--    {% for test in not_pass_test %}-->
<!--    <h3>-->
<!--        <a href="testing/{{not_pass_test.test_id}}">пройти {{not_pass_test.test_name}}</a><br>-->
<!--    </h3>-->
<!--    {% endfor %}-->
<!--</div>-->


<script>
    let logout = document.querySelector('.logout')
    logout.addEventListener('click', (e) => {
        const request = new XMLHttpRequest();
        request.open('GET', 'http://127.0.0.1:8000/logout/')
        request.send();
        const reloadTimeout = setTimeout(reloadPage, 10);

        function reloadPage() {
            clearTimeout(reloadTimeout);
            location.reload();
        };
    })

</script>


</body>
</html>