{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
<form action="." method="post"  class="register">
    <p style="text-align: center">Логин</p>
    <div style="width: 200px; height: 220px;text-align: center;">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Login</button>
    <button type="submit" class="btn btn-primary registration">Registration</button>
    </div>
</form>
<script>
    let redirect=document.querySelector('.registration')
    redirect.addEventListener('click',(e)=>{
        e.preventDefault()
        window.location.href="test/registration/"
    })
</script>
{% endblock %}