{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" >
</head>
<body>
{% csrf_token %}
<form class="question__form">
    <div class="test_id" testID="{{testID}}"><h1>{{testName}}</h1></div>
    <div class="question__block">
        <div class="question wrapper">
            <div class="number" style="float: left; display: block">{{number}}</div>
            <div class="question__text">{{question}}</div>
        </div>
        <div class="answers">
            {% for key, value in answers.items %}
            <div class="answer">
                <input type="checkbox" id={{key}} name={{key}} value="{{value}}"/>
                <label>{{value}}</label>
            </div>
            {% endfor %}
        </div>
    </div>
    <button class="submit-answer btn btn-primary">Ответить</button>
</form>

<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
</script>
<script src="{% static 'js/testing_script.js' %}"></script>
</body>
</html>